@import "../valo/valo.scss";

@mixin mytheme {
  @include valo;

  /* Padding to create a border around the view */
  .v-verticallayout-gapp .v-verticallayout-margin {
      padding: 3px;
  }

  /* The main title */
  .gapp .v-label-title {
      font-size: 24pt;
      font-weight: bold;
      color: #FF6600;
      line-height:36pt;
  }

  .gapp .v-label-titlecomment {
      font-size: 12pt;
      color: white;
      line-height:36pt;
      background: black;
  }


  /* The horizontal area */
  .gapp .v-horizontallayout .v-horizontallayout-spacing-on {
      background: #FF6600;
      padding-left: 1px;
  }

  /* The menu tree panel */
  .gapp .v-panel-caption-menucontainer,
  .gapp .v-panel-caption-detailspanel {
      padding: 3px;
      color: white;
      background: #FF6600;
      font-size: 12pt;
      font-weight: bold;
      line-height: 35pt;
      height: 44px;
  }

  /* The menu title */
  .gapp .v-panel-caption-menucontainer {
      font-weight: bold;
      text-align: center;
  }

  /* The details caption. */
  .gapp .v-panel-caption-detailspanel {
      font-size: 18pt;
  }

  /* The details text. */
  .gapp .v-panel .v-label {
      font-size: 24pt;
      color: gray;
      line-height: 36pt;
      background: white;
  }

  .gapp .treecontainer, .gapp .v-panel, .gapp .v-caption {
      background: white;
  }

  .gapp .v-horizontallayout-spacing-on {
      padding-left: 4px;
  }
}
